body{font-family:Arial}
section{width:750px; margin:auto}
h1{text-align:center; font-family:Arial}
div{width:300px; margin:30px; padding:5px; background-color:#5ccccc; border-radius:10px}
header{width:750px; margin:auto; background-color:#006363; border-radius:10px; color:#5ccccc}


